{% extends "blog/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/logout.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="h1div">
    <h1 class="h1div-element">Password Reset Email Sent</h1>
</div>
{% csrf_token %}
<div class="login-wrapper-div twoot-list">
    <h1 class="password-reset-h1">Please check your email.</h1>
    <span class="password-reset-span">We have sent instructions for resetting your password. You should receive the email shortly.</span>
</div>
{% endblock %}