{% extends "blog/base.html" %}
{% load static %}
{% load el_pagination_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/general.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/formsbuttons.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/twoot.css' %}" />
{% endblock %}

{% block content %}

<div class="back-button-div">
   
    <div class="header-back-button">
        <button type="button"><i class="jam jam-backward"></i></button>
    </div>
    
</div>

<div class="detail-twoot-wrapper content">
    <div class="detail-twoot-icon-and-author">
        <div class="twoot-create-icon">
            <img class="icon" src="{{twoot.author.profile.picture.url}}"/>
        </div>
        <div>
            <a class="content-author" href="{% url 'profile_view' username=twoot.author.username %}">
            {{ twoot.author.profile.display_name }}</a>
            <br>     
            <span>@{{ twoot.author.username }}</span>
            
            {% if twoot.is_child_node %}
            <br>
            <!--We want to change admin content to be more useful-->
            <span>Replying to <a href="{% url 'profile_view' username=twoot.parent.author.username %}">@{{ twoot.parent.author.username }}</a></span>
            {% endif %}
            
        </div>
    </div>

    <div class="detail-twoot-content">
        <div class="twoot-content-true content-white">{{ twoot.content|safe }}</div>
        {% if twoot.image_content %}
        <span style="display: inline-block;"><img class="twoot-content-img" src="{{twoot.image_content.url}}"></span>
        {% endif %}
    </div>
    <div class="detail-twoot-time">
        {{ twoot.time_posted_formatted}}
    </div>
    <div class="detail-twoot-button-div">
        {% if twoot in request.user.authee.all.select_subclasses %}
        <div class="detail-twoot-button-inner-div">
            <a class="red twoot-button" href="{% url 'deletepost' pk=twoot.pk %}"><i class='bx bx-trash'></i></a>
        </div>
        {% endif %}

        <div class="detail-twoot-button-inner-div">
            <a href="{% url 'create_comment_view' pk=twoot.pk %}" class="twoot-button"><i class='bx bx-conversation'></i></a>
            <span class="total-retwoots" data-id="comment_count_{{twoot.pk}}">{{twoot.get_descendant_count}}</span>
        </div>
    
        <div class="detail-twoot-button-inner-div">
            {% if twoot.is_retwooted %}
            <button class="retwoot-button green twoot-button" type="submit" data-id="{{twoot.pk}}" data-status="retwooted" name="retwootbutton"><i class='jam jam-refresh-reverse'></i></button>
            <span class="total-retwoots green-no-hover">{{ twoot.total_retwoots }}</span>
            {% else %}
            <button class="retwoot-button green-unclicked twoot-button" type="submit" data-id="{{twoot.pk}}" data-status="not_retwooted" name="retwootbutton"><i class='jam jam-refresh-reverse'></i></button>
            <span class="total-retwoots">{{ twoot.total_retwoots }}</span>
            {% endif %}
        </div>
        <div class="detail-twoot-button-inner-div">
            {% if twoot.is_liked %}
            <button class="like-button red twoot-button" type="submit" data-status="liked" data-id="{{twoot.pk}}" name="likebutton"><i class='bx bxs-heart'></i></button>
            <span class="total-retwoots red-no-hover">{{ twoot.total_likes }}</span>
            {% else %}
            <button class="like-button red-unclicked twoot-button" type="submit" data-status="not_liked" data-id="{{twoot.pk}}" name="likebutton"><i class='bx bx-heart'></i></button>
            <span class="total-retwoots">{{ twoot.total_likes }}</span>
            {% endif %}
        </div>
        
    </div>

    {% if twoot.is_child_node %}
    <div class="detail-twoot-footer">
        <a href="{% url 'twoot_detail_view' pk=twoot.get_root.pk %}">Show Master Thread</a>
        <a href="{% url 'twoot_detail_view' pk=twoot.parent.pk %}">Show Parent</a>
    </div>
{% endif %} 
    
</div>


<div id="comments-twoot-list-id-{{twoot.pk}}" class="twoot-list">
{% lazy_paginate 20 twoots %}
{% include 'blog/twoot_list.html' %}
</div>


{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}