

.profilecontainer {
    background: var(--main-background);
    color: white;
}

.wrapper {
    position: relative;
}
.banner-img-wrapper {
    position: relative;
    width: 100%; height: 200px;
}
.bannerimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-img-wrapper {
    position: absolute;
    bottom: -20px; left: 7px;
    width: 150px; height: 150px;
}
.profileimg {
    width: 100%; height: 100%;
    object-fit: cover;
    border: 5px solid var(--main-background);
    border-radius: 50%;
}

.profile-content {
    padding: 20px 20px 0 20px;
    
    line-height: 20px;
    width: 100%;
    color: var(--content-text);

    
}
.profile-content a {
    color: white;
    font-weight: bold;
    
}
.profile-content a:hover{
    color: white;
    text-decoration: underline;
}
.profile-content span {
    padding: 0 2% 0 0;
    white-space: nowrap;
}

#profilename {
    font-size: 20px;
    font-weight: bold;

}

#profileusername {
    opacity: 30%;
   
}

.profile-follow-button {
    float: right;
    margin: 10px 10px 0 0;
    border: 1.4px solid var(--twooter-blue-dark);
    border-radius: 25px;
    color: var(--twooter-blue-dark);
    word-break: normal;
    padding: 10px 20px;
    transition: .25s;
}
.profile-follow-button:hover {
    background: rgba(29,161,242,.1);

}

.profile-middle-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid var(--header-border);
    position: sticky;
    top: 0;
}
.active-profile-button {
    text-decoration: none;
    color: var(--twooter-blue-dark);
    border-bottom: 3px solid var(--twooter-blue-dark);
}
.profile-middle-header a {
    flex: 1;
    color: var(--content-text);
    font-weight: bold;
    padding: 20px 20px;
}
.profile-middle-header a:hover {
    text-decoration: none;
    color: var(--twooter-blue-dark);
    background: rgba(29,161,242,.1);
}

.image-input-file {
    display: none;
}
.image-input-label {
    background: var(--search-background);
    padding: 15px 20px;
    margin: 10px 0 10px 0;
    border-radius: 25px;
    transition: .25s;
    color: white;
    display: inline-block;
}
.edit-picture-div {
    width: 100px; height: 100px;
}
.image-input-icon {
    width: 100%; height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.edit-banner-div {
    width: 300px; height: 100px;
}
.image-input-banner-icon {
    width: 100%; height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (max-width: 590px) {
    .profile-follow-button {
        margin-top: 5px;
    
    }

    .bannerimg {
        position: relative;
        top: 0px;
        left: 0px;
        max-width: 100%;
        max-height: 100%;
    }
    
}