<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'blog/css/general.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'blog/css/formsbuttons.css' %}" type="text/css"/>
</head>


<body>
<div style="font-weight: bold;">
    {% load i18n %}
    <h2>Hi.</h2>
    <p>You are receiving this email because you forgot your password at Twooter. -_-</p>
    <p>This is your username, in case you forgot that too: <span style="color: purple; font-size: large;">{{ user.username }}</span></p>
    <p>Go here to reset your password: <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Click for reset :P</a></p>
    
    <p>Thanks for using Twooter!</p>
</div>
</body>
</html>