{% extends "blog/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/logout.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="h1div">
    <h1 class="h1div-element">Reset Password</h1>
</div>

<div class="login-wrapper-div twoot-list">

    <form class="flex-form-login" method='POST'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="{{ form.email.id_for_label }}">Enter your email and you will receive instructions to reset your password</label>
        <input class="login-searchbar" id="{{ form.email.id_for_label }}" name="{{form.email.html_name}}" placeholder="email" type="email"/>
        {{ form.email.errors }}
        <button class="login-button button" type="submit">Send</button>
    </form>
</div>
{% endblock %}